:root {
  --primary-bg: #000029;
  --secondary-bg: #171717;
  --accent-color: #ffffff;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Handjet', sans-serif;
  background-color: var(--secondary-bg);
  color: var(--accent-color);
}

.navbar {
  font-size: 1.2rem;
}

.logo {
  width: 100px;
}

.hero {
  background: url('../assets/0-portada.png') no-repeat center center/cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--accent-color);
}

.hero h1 {
  font-size: 4rem;
}

.projects {
  background-color: var(--primary-bg);
  padding: 4rem 0;
}

.project-category h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: var(--accent-color);
}

.project-thumbnail {
  margin-bottom: 2rem;
}
