.about {
    padding: 100px 20px;
    color: var(--white);
    background-color: var(--primary-bg);

    h1 {
    font-size: 48px;
    margin-bottom: 20px;
    background-color: var(--primary-bg);
    }

    .about-content {
    margin-top: 30px;
    background-color: var(--primary-bg);
    }

    .about-image {
    width: 150px;
    height: 150px;
    background-color: var(--secondary-bg);
    margin: 0 auto 20px;
    border-radius: 50%;
    }
}